body{
    color:#fff;

}

.fa{
    font-size:60%;
    color:#353b97;
}

.fas{
    font-size:60%;
    color:#353b97;
}

.navbar{
    border-bottom:#BBA26A 3px solid;
    z-index:1000;
}

.blue{
    color:#353b97;
}

.bg-creme{
    background-color:#CCC9C7;
}

#home-section{
   background: linear-gradient(rgba(53,59,151,.5), rgba(187,162,106,.5)), url("https://images.pexels.com/photos/164934/pexels-photo-164934.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size:cover;
    background-attachment:fixed;
    min-height:700px;
}

#home-section1{
   background: linear-gradient(rgba(53,59,151,.5), rgba(187,162,106,.5)), url("https://images.pexels.com/photos/359995/pexels-photo-359995.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size:cover;
    background-attachment:scroll;
     background-position:center;
    top:200px;
    min-height:300px;
}

#home-section2{
    background: linear-gradient(rgba(53,59,151,.5), rgba(187,162,106,.5)) , url("https://images.pexels.com/photos/167486/pexels-photo-167486.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size:cover;
    background-position:center;
    top:200px;
    min-height:300px;
}

#home-section3{
    background: linear-gradient(rgba(53,59,151,.5), rgba(187,162,106,.5)) , url("https://images.pexels.com/photos/280014/pexels-photo-280014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size:cover;
    background-position:center;
    min-height:300px;
}


#section-verhuur{
}

.card-verkoop{
    box-shadow: 5px 5px 3px gray;
}

.pverkoop{
    font-size:120%;
}

li:hover{
    border:2px solid #bba26a;
}

li{
    border-radius: 2px;
}

.nav-link{
    font-size:120%;   
    color:#353b97!important;
}

.signature{
    font-size:80%;
}

.btn-primary-custom {
	background-color: #353B97!important;
	border-color: #353B97!important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white; /* Changes regular toggle color */
}
.navbar-default .navbar-toggle .icon-bar:hover {
  background-color: white; /* Changes toggle color on hover */
}


.home-inner{
    padding-top: 150px;
}

.dark-overlay{
    background-color: rgba(0,0,0,0.7);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height:700px ;
}
#main-footer{
        border-top:#353b97 3px solid;

}
    
}

.card-form{
    opacity:0.8;
}



#create-section{
    
}

